<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/master.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> 
</head>
<body>
    <div id="app">
        <header>
            <img src="img/boolflix.png" alt="">
            <div class="search_bar">
                <input type="text" v-model="find" @keypress.enter="srch">
                <button v-on:click="srch"><i class="fas fa-search"></i></button>  
            </div>
              
        </header>
        <main>
            <div class="media" v-for="element in moviesTv">
                <img class="pos" :src="poster(element.poster_path)" alt="">
                <div class="hide">
                    <h1>{{element.title}} {{element.name}}</h1>
                    <h3>{{element.original_title}}</h3>
                    <img class="ban" :src="flag(element.original_language)" alt="">
                    <div class="star">
                        <i v-for="i in starVote(element.vote_average)" class="fas fa-star"></i>
                        <i v-for="i in (5 - starVote(element.vote_average))" class="far fa-star"></i>
                    </div>   
                </div>
             
            </div>        
        </main>
            
    </div>
    



    <script src="js/main.js"></script>
</body>
</html>
